body{
    border-top: solid 5px mediumseagreen;

}

header{
    display: flex;
    height: 200px;
}

th{
    padding: 10px;
}

.name {
    margin: auto;
    font-family: Laksaman;
}

.photo {
    margin: 20px auto 20px 20px;
    border-radius: 50%;
    height: 80%;
}

.main-table {
    border-top: solid 3px lightgrey;
    width: 90%;
    padding-top: 5px;
    margin: 5px 5% 0 5%;
}

.category-name {
    width: 10%;
    vertical-align: top;
    text-align: left;
    color: dimgrey;
}

.content {
    width: 40%;
    vertical-align: top;
    font-weight: normal;
    font-size: small;
    text-align: justify;
}