* {
    padding: 0;
    margin: 0;
}

header {
    border-top: solid 5px mediumseagreen;
    border-bottom: solid 3px lightgrey;
    display: flex;
    height: 20vh;
    width: 98%;
    position: fixed;
    top: 0;
    margin: 0 1% 0 1%;
    background-color: white;
}

th {
    padding: 10px;
}

aside {
    overflow: auto;
    position: fixed;
    padding-left: 3%;
    left: 20px;
    top: 21vh;
    width: 26%;
    height: 100%;
    border-right: solid 1px lightgrey;
}

aside p {
    font-weight: normal;
    font-size: small;
    text-align: justify;
}

.name {
    margin: auto;
    font-family: Laksaman, Verdana, sans-serif;
}

.photo {
    float: right;
    margin: auto 0;
    border-radius: 50%;
    height: 80%;
}

main {
    border-top: solid 3px lightgrey;
    width: 90%;
    padding-top: 5px;
    margin: 20vh 5% 0 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.information {
    position: relative;
    z-index: -1;
    margin-left: 29%;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

main section {
    border-bottom: solid 1px lightgrey;
    width: 90%;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.category-name {
    margin: 20px 0 20px 0;
    color: dimgrey;
}

section h3.category-name {
    margin-left: 25px;
}

.content {
    width: 100%;
    font-weight: normal;
    text-align: justify;
}

ul {
    list-style-type: none;
    margin-top: 0;
}

a.github-img {
    display: block;
    height: 20px;
    width: 20px;
    background-image: url("github-logo.svg");
    background-size: 20px 20px;
}

.badge {
    position: absolute;
    top: 22px;
    height: 15px;
    width: 15px;
    background-color: lightgrey;
}

.floating {
    float: left;
    width: 30%;
    margin-right: 3.3%;
}

.header-container {
    display: flex;
    margin-left: 10%;
    height: 100%;
    width: 80%;
}

@media (max-height: 400px) {
    aside div {
        padding-top: 10px;
    }

    aside div .category-name {
        margin: 10px auto;
    }
}

@media (orientation: portrait), (max-width: 768px) {
    header {
        position: absolute;
        display: flex;
        height: 20vh;
        font-size: 0.7em;
    }

    main {
        width: 92%;
        margin: 20vh 2% 0 4%;
    }

    main section {
        width: 100%;
        margin-left: 0;
    }

    aside {
        background-color: #d0d0d06e;
        margin: 0;
        padding: 0;
        display: flex;
        position: unset;
        overflow: auto;
        width: 100%;
        border-top: solid 3px lightgrey;
        border-right: 0;
        font-size: small;
        justify-content: space-evenly;
    }

    aside div {
        margin: 0;

    }

    aside div .content {
        margin: 0 0 20px 0;
        text-align: left;
        font-size: small;
    }

    .information {
        position: relative;
        z-index: -1;
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    aside div ul li {
        padding-bottom: 10px;
    }

    section h4 {
        width: 100%;
        font-weight: normal;
        text-align: justify;
    }

    .floating {
        width: 100%;
    }

    .header-container {
        display: flex;
        margin-left: 4%;
        height: 100%;
        width: 93%;
    }
}

